.DS_Store
.RData
.Rhistory
.Rproj.user/
rainybees.Rproj
data/cleaned/
figures/
results/
*.png
*.pdf

# macOS
.DS_Store

# R session files
.Rhistory
.RData

# Excluded from public repo
/GCB precip ms dec/
/ecology/
R/R-00_station_setup.R
R/R-09-speciesAbundance.R
R/r10-lol.R
*.ai
